/*
0 - 600px: Phone
600px-900px: Tablet portrait
900px-1200px: Tablet landscape
1200px-1800px: Normal styles apply
1800px+: Big desktop

@content allows us to pass a block of code into a mixin

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: Base, typography, general layout, grid, page layout, components

ems are the best options for media queries
1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes status {
  0% {
    opactiy: 1;
    pointer-events: all; }
  90% {
    opacity: 1;
    pointer-events: all; }
  100% {
    opacity: 0;
    pointer-events: none; } }

#status {
  width: 90%;
  max-width: 50rem;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 8px; }

#status.success {
  background-color: #2af366;
  color: white;
  animation: status 3s ease forwards; }

#status.error {
  background-color: #f32a2a;
  color: white;
  animation: status 3s ease forwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #87adff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  animation: moveInLeft 1s ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  animation: moveInRight 1s ease-out; }

.heading-primary--tertiary {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  animation: moveInLeft 1s ease-out; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 1000;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100%;
  z-index: -10; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color; }

button[type="submit"]:hover {
  background-color: #142946;
  color: #f3a30d; }

.btn-text {
  background-color: #87adff; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #f3a30d;
    padding: 3px;
    transition: all .2s; }
  .btn-text:hover {
    background-color: #f3a30d;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s ease;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 5%;
      top: 5rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 5rem;
          left: 0; } }
    .composition__photo--p2 {
      left: 25%;
      top: 15rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 5rem;
          left: 10rem; } }
    .composition__photo--p3 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0; } }
    .composition__photo:hover {
      outline: 1.5rem solid #f3a30d;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media (max-width: 56.25em) {
        .composition__photo:hover {
          outline: transparent;
          transform: scale(1) translateY(0);
          box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
    @media (max-width: 56.25em) {
      .composition:hover .composition__photo:not(:hover) {
        transform: scale(1); } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all .4s .2s; }
  .popup__image {
    width: 100%; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #f3a30d; }

.project {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .project {
      width: 80%; } }
  @media (max-width: 37.5em) {
    .project {
      transform: skewX(0); } }
  .project__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .project__shape {
        transform: skewX(0);
        margin-right: 2rem;
        margin-left: -2rem; } }
  .project__image {
    height: 100%;
    transition: all .3s;
    border: transparent; }
    .project__image--school {
      transform: translateX(-8rem); }
    .project__image--spotify {
      transform: translateX(-10rem); }
    .project__image--oop {
      transform: translateX(-8rem); }
    .project__image--flickr {
      transform: translateX(-6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        border-top: transparent; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #87adff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    color: inherit;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        text-align: center;
        float: none;
        border-top: transparent; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 13rem;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 37.5em) {
      .header__text-box {
        top: 45%; } }
  .header__text-box img {
    padding: .5rem; }
  .header__text-box img:hover {
    transform: rotate(30deg);
    transition-duration: .4s; }
  @media (max-width: 56.25em) {
    .header {
      margin-left: 0;
      margin-right: 0; } }

.github-animated {
  display: inline-block;
  animation: moveInBottom .5s ease-out .25s;
  animation-fill-mode: backwards; }

.linkedin-animated {
  display: inline-block;
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; }

.twitter-animated {
  display: inline-block;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.nav {
  width: 100%;
  background: #142946;
  font-size: 1.6rem;
  height: 6.5rem;
  padding: 1rem;
  position: fixed;
  z-index: 100; }
  .nav--tabs {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    max-width: 135rem; }
  .nav--tabs li {
    padding: 5px 10px 10px 10px; }
  .nav--tabs a {
    text-decoration: none;
    color: #fff; }
  .nav--tabs a:hover {
    color: #f3a30d; }
  .nav--initials {
    display: block;
    margin-right: auto;
    color: #fff;
    cursor: default;
    backface-visibility: hidden; }
  .nav--initials:hover {
    transition: all .5s;
    transform: scale(1.1);
    color: #f3a30d; }

.section-about {
  background-color: #f7f7f7;
  padding-top: 27.5rem;
  padding-bottom: 35rem;
  margin-top: -40vh;
  margin-bottom: -20vh;
  margin-left: 3rem;
  margin-right: 3rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding-top: 30rem;
      padding-left: 5rem;
      margin-top: -32vh;
      margin-left: 0;
      margin-right: 0; } }

.section-projects {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(198, 216, 250, 0.2), rgba(19, 87, 233, 0.2)), url(../images/skyscraper.jpg);
  background-size: cover;
  clip-path: polygon(0 20vh, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -10rem;
  margin-left: 3rem;
  margin-right: 3rem; }
  .section-projects__title {
    margin-top: 8rem; }
  @media (max-width: 56.25em) {
    .section-projects {
      margin-left: 0;
      margin-right: 0; } }

.section-contact {
  background-color: #f7f7f7;
  padding-top: 28.5rem;
  margin-left: 3rem;
  margin-right: 3rem; }
  @media (max-width: 56.25em) {
    .section-contact {
      margin-left: 0;
      margin-right: 0; } }

.contact {
  margin-top: -25vh; }
  .contact__form-container {
    background-color: #f3a30d;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 1rem 3rem #000;
    border-radius: 3px;
    text-align: left; }
  .contact__form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px; }
  .contact__form-group input,
  .contact__form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px; }
