// COLORS
$color-primary: #87adff;
$color-primary-light: #c6d8fa;
$color-primary-dark: #1357e9;
$color-primary-dark-2: rgb(20, 41, 70);

$color-secondary: #f3a30d;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;