/* Global Layout */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#687864;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Links */

a {
    text-decoration: none;
    color: #000;
}


/* Navigation Bar */

.nav-bar {
    width: 100%;
    background: rgb(19, 23, 42);
    color: white;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700; 
    list-style-type: none; 
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.name:hover {
    transition: all .5s;
    transform: scale(1.1);
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color:#687864;
}

/* Header */

header {
    text-align: center;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 285px;
    background: url('../images/pexels-photo-416779_2.jpg') no-repeat center;
    background-size: cover;
    color: rgb(19, 23, 42);
}

.intro {
    padding-bottom: 310px;
}

/* About Me */

.bio-container {
    background-color: rgb(19, 23, 42);
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bio {
    text-align: left;
    color: white;
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}



/* My Work */

.project-container {
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: #8FC1E3;
}

.project-container hr {
    height:3px;
    color:rgb(19, 23, 42);
    background-color:rgb(19, 23, 42);
    border-color: rgb(19, 23, 42);
}

.my-work {
    text-align: right;
    padding-bottom: 50px;
    color: rgb(19, 23, 42);
    max-width: 1250px;
    margin: 0 auto;
}

.project-row {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: auto;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.project-card {
    color: rgb(19, 23, 42);
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(19, 23, 42);
    padding: 15px;
    max-width: 600px;
    margin-bottom: 10%;
    width: 100%;
}

.project-card:hover{
    box-shadow: 10px 10px  rgb(48, 57, 98);
    transition: all .5s;
    transform: scale(1.1);
}

.project-card a {
    padding: 10px;
}

/* Contact */

.contact-container {
    color: #000;
}

.copyright {
    color: #000;
    padding-top: 100px;
}
