.header {
    height: 95vh;
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 13rem;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
    }

    &__text-box img {
        padding: .5rem;
    }

    &__text-box img:hover{
        transform: rotate(30deg);
        transition-duration: .4s;
    }
}

.github-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .25s;
    animation-fill-mode: backwards;
}

.linkedin-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}

.twitter-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}