.nav {
    width: 100%;
    background: $color-primary-dark-2;
    font-size: $default-font-size;
    height: 65px;
    padding: 1rem;
    position: fixed;
    z-index: 100;

    &--tabs {
        display: flex;
        justify-content: space-around;
        font-weight: 700; 
        list-style-type: none; 
        margin: 0 auto;
        max-width: 1350px;

        @include respond(tab-port) { // width < 900?
            max-width: 800px;
        }
    }
    
    &--tabs li {
        padding: 5px 10px 10px 10px;
    }
    
    &--tabs a {
        text-decoration: none;
        color: $color-white;
    }
    
    &--tabs a:hover {
        color:$color-secondary;
    }
    
    &--initials {
        display: block;
        margin-right: auto;
        color: $color-white;
        cursor: default;
        backface-visibility: hidden;
    }
    
    &--initials:hover {
        transition: all .5s;
        transform: scale(1.1);
        color:$color-secondary;
    }
}