// Contact Form Button
button[type="submit"] {
    width:100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover {
    background-color: $color-primary-dark-2;
    color: $color-secondary;
}

.btn-text {
    background-color: $color-primary;
    
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-secondary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-secondary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15); //x, y, blur
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15); //x, y, blur
        transform: translateY(0);
    }
}