.project {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .85);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) { // width < 900?
        width: 80%;
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); //radius, 50% horiz 50% vert

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    }

    &__image {
        height: 100%;
        transition: all .3s;
        border: transparent;

        &--school {
            transform: translateX(-8rem);   
        }

        &--spotify {
            transform: translateX(-10rem);
        }

        &--oop {
            transform: translateX(-8rem);
        }

        &--flickr {
            transform: translateX(-6rem);
        }
    }
}